<div class="body-resume grey-bg">
    <div class="label">
        Totale prestiti : <%= totale_prestiti %> €
    </div>
    <ul>
        <% User.all.each do |user| %>
            <% if (user.total) != 0 %>
                <div class="li-element">
                    <%= user.name %>: <%= user.total %> €
                </div>
            <% end %>
        <% end %>
    </ul>
</div>

<div class="body-resume center">
    <%= link_to "Nuova Transazione", new_transaction_path , class:"button-text btn-block btn btn-outline-primary my-2 my-sm-0" %>
    <%= link_to "Nuovo Utente", new_user_path , class:"button-text btn-block btn btn-outline-success my-2 my-sm-0" %>
    <%= link_to "Lista Transazioni", transactions_path , class:"button-text btn-block btn btn-outline-danger my-2 my-sm-0" %>

</div>
