<div class="body-resume grey-bg">
    <div class="label">
        Totale prestiti : <%= totale_prestiti %> €
    </div>
    <ul>
        <% User.all.each do |user| %>
            <li>
                <%= user.name %>: <%= user.total %> €
            </li>
        <% end %>
    </ul>
</div>

<div class="body-resume center">
    <%= link_to "Nuova Transazione", "#" , class:"btn btn-outline-primary my-2 my-sm-0" %>
    <%= link_to "Nuovo Utente", new_user_path , class:"btn btn-outline-success my-2 my-sm-0" %>
</div>
